.recent-headers{
    color: #1976d2;
    padding-top: 3%;
    margin-left: 4%;
    font-weight: 550;
}
.banner {
    width: 100%;
    background:url(https://i0.wp.com/media.giphy.com/media/5ERaOy5fQEIAU/giphy.gif);
    /*https://i0.wp.com/media.giphy.com/media/5ERaOy5fQEIAU/giphy.gif*/
    /*http://s6.favim.com/orig/150112/background-cold-gif-nature-Favim.com-2380226.gif*/
    background-size: cover;
    font-size: 40px;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
  }
  
  .big-text {
    font-size: 50px;
    font-weight:800;
    animation-delay: 1s;
  }
  .banner a {
    display: inline-block;
    background: #fff;
    color: #36465d;
    text-transform: uppercase;
    padding: 15px;
    text-decoration: none;
    font-size: 15px;
    transition: .3s;
  }
  .banner a:hover {
    background: #333;
    color: #fff;
    padding: 15px 20px;
  }
.banner .description{
    font-size:medium;
}
.EmptyCards{
    padding-top: 5%;
}
#banner-link:hover{
  cursor: pointer;

}