#Friend-link{
    color: black;
    float: right;
    padding-right: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
}
#Friend-link:visited{
    color: black;
}
#Friend-link:hover, :active{
    color: blue;
}

.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }