/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1e6741;
  --ifm-color-primary-dark: #1b5d3b;
  --ifm-color-primary-darker: #1a5837;
  --ifm-color-primary-darkest: #15482d;
  --ifm-color-primary-light: #217148;
  --ifm-color-primary-lighter: #23764b;
  --ifm-color-primary-lightest: #278654;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #50d7ba;
  --ifm-color-primary-dark: #38d2b1;
  --ifm-color-primary-darker: #2fccaa;
  --ifm-color-primary-darkest: #26a88c;
  --ifm-color-primary-light: #68dcc3;
  --ifm-color-primary-lighter: #74dfc8;
  --ifm-color-primary-lightest: #98e7d6;
}

.medium-zoom-overlay{
  /*background-color: #00a400 !important;*/
  z-index: 999;
}

.medium-zoom-image--opened{
  z-index: 1000;
}

#atlwdg-trigger.atlwdg-trigger.atlwdg-RIGHT{
  background-color: #9d2235;
}
