.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #181818; 
  border-bottom: 1px solid #282828; 
  z-index: 1000;
}

.navbar .brand {
  color: #1DB954; 
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}
.main-content {
  margin-top: 60px; /* Adjust this value based on the height of your Navbar */
}

.nav-items {
  display: flex;
  gap: 20px; 
}

.nav-item {
  position: relative;
}

.nav-item a {
  color: #fff; 
  text-decoration: none;
  transition: color 0.3s ease; 
}

.nav-item a:hover {
  color: #1DB954; 
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #282828;
  border: 1px solid #333; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.5); 
}

.nav-item:hover .submenu {
  display: block;
}

.submenu a {
  color: #fff; 
  padding: 10px 15px; 
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #333;
}

.submenu a:hover {
  background-color: #1DB954; 
  color: #fff; 
}

.submenu a:last-child {
  border-bottom: none; 
}

#logout-btn{
  color: #fff; 
  text-decoration: none;
  transition: color 0.3s ease;   
  cursor: pointer;
}
#logout-btn:hover{
  color: #1DB954; 
}

